#ignore

TwinStickShooter/Binaries/
TwinStickShooter/Build/
TwinStickShooter/Saved/
TwinStickShooter/Intermediate/
TwinStickShooter/WindowsNoEditor/
TwinStickShooter/.vs/TwinStickShooter/


Material/Binaries/
Material/Build/
Material/Saved/
Material/Intermediate/
Material/WindowsNoEditor/
Material/.vs/Material/


Bellz/Binaries/
Bellz/Build/
Bellz/Saved/
Bellz/Intermediate/
Bellz/WindowsNoEditor/
Bellz/.vs/Bellz/