#ignore

TwinStickShooter/.vs/
TwinStickShooter/Binaries/
TwinStickShooter/Build/
TwinStickShooter/Saved/
TwinStickShooter/Intermediate/
TwinStickShooter/WindowsNoEditor/
TwinStickShooter/.vs/TwinStickShooter/


Material/.vs/
Material/Binaries/
Material/Build/
Material/Saved/
Material/Intermediate/
Material/WindowsNoEditor/
Material/.vs/Material/


StudyProject_0/.vs/
StudyProject_0/Binaries/
StudyProject_0/Build/
StudyProject_0/Content/InfinityBladeGrassLands/
StudyProject_0/Content/InfinityBladeWarriors/
StudyProject_0/Content/InfinityBladeWeapons/
StudyProject_0/Content/Developers/
StudyProject_0/Content/ThirdPersonBP/
StudyProject_0/Content/Book/
StudyProject_0/Saved/
StudyProject_0/Intermediate/
StudyProject_0/WindowsNoEditor/
StudyProject_0/.vs/Bellz/